<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Jogo</li>
  </ol>
</nav>
<h1>SEARCHING4GAMES</h1>

<form #f="ngForm">

  <div class="form-group">
    <h3>Menu Principal:</h3>
  </div>

  <br>

  <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Procurar</button>
  <a [routerLink]="['../jogos', 'new' ]" class="btn btn-success ml-2">Adicionar</a>
</form>
<div *ngIf="jogoList.length > 0">
  <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Nome</th>
          <th class="border-top-0" scope="col">Descrição</th>
          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of jogoList" [class.active]="item === selectedJogo">
          <td>{{item.id}}</td>
          <td>{{item.nome}}</td>
          <td>{{item.descricao}}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../jogos', item.id ]" class="btn btn-secondary">Editar</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>